* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}
.padre {
    border: 2px black dotted;
    display: inline-block;
}
.box {
    display: inline-block;
    background-color: #f00;
    width: 100px;
    height: 100px;
}

#two {
    background-color: green;

}