body {
    background-color: #ea4e1b;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    margin: 1% 5%;
}
.header {
    display: flex;
    margin: 1px;
    width: 100%;
    justify-content: center;
}

.header h1 {
    font-family: 'Lobster Two', cursive;
    margin: 15px;
    font-size: 3em;
}

.frutas{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 50%;
    background-color: #f77d45;
    border-radius: 2px;
    margin-bottom: 20px;
}
.frutas li{
    font-size: 1em;
}
.type {
    width: 100%;
    height: 30px;
    background-color: #ffae73;
}
ul {
    
}
.carnes {
    display: flex;
    width: 100%;
    height: 50%;
    background-color: #f77d45;
    border-radius: 2px;
    margin-bottom: 20px;
}
.verduras{
    display: flex;
    width: 100%;
    height: 50%;
    background-color: #f77d45;
    border-radius: 2px;
    margin-bottom: 20px;
}
.extras{
    display: flex;
    width: 100%;
    height: 50%;
    background-color: #f77d45;
    border-radius: 2px;
    margin-bottom: 20px;
}